.footer{
    background-color: aquamarine;
    height: 70px;
    text-align: center;
    width:100%;
    bottom: 0;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}