.body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: aqua; */

    margin : 10px;
}

.btn{
    background-color: bisque;
    border: 1px;
    height:35px;
    width:125%;
    font-size: medium;
    margin: 7px;
    border-radius: 5px;
}
.btn:hover{
    background-color:blue;
    color:white;
    width:130%;
    font-size: medium;
    padding:10px;
    border-radius: 10px;
}
.criteria{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.innerbody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px !important;
}