.footer{
    background-color: rgb(235, 233, 152);
    height: 70px;
    text-align: center;
    width:100%;
    position:sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}